<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MZ | Confirm email</title>
</head>
<body>
    <form action="/sign-up/email-auth1" method="POST">
        <input type="number" name="code">
        <input type="submit" value="Confirm email">
    </form>

    <style>
        input{
            display: block;
            width: 250px;
            height: 50px;
        }
    </style>
</body>
</html>