<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MZ | Log in</title>
</head>
<body>
    <form action="/log-in" method="POST">
          <input type="email" name="email" id="email" placeholder="email" required>
          <input type="password" name="password" id="password" required>
          <input type="submit" value="log-in">

    </form>
    <style>
        input{
            width: 250px;
            height: 50px;
            display: block
        }
    </style>
</body>
</html>